<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertion rendez vous</title>
</head>
<body>
    <label>
        <select>
            <option></option>
        </select>
    </label>
    <label>
        <input type="text" name="motif">
    </label>
    <label>
        <input type="datetime-local" name="date">
    </label>
</body>
</html>