{% extends 'base/root_nav_sidebar.html' %}

{% block title %}
Suppression
{% endblock %}

{% block content %}


<main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12" style="text-align: center;">
            <h1>Etes-vous sûr de supprimer le rendez vous du {{ rendez_vous.date_de_prise }} </h1>
            <a href="/vet/confirmation_suppression/{{ rendez_vous.id }}"><button class="btn btn-danger" type="submit" name="reponse" value="oui">Oui</button></a>
            <a href="/vet/annulation_suppression"><button class="btn btn-primary" type="submit" name="reponse" value="non">Non</button></a>
        </div> <!-- .col-12 ;-->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- m-->
{% endblock %}